/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|e|s)(-|+|0) {}` = margin/padding top/right/bottom/left/ends/sides less/more/none
 */
$inuit-margin:                  $inuit-base-spacing-unit !default;
$inuit-padding:                 $inuit-base-spacing-unit !default;

$inuit-enable-margins:          false !default;
$inuit-enable-margins--small:   false !default;
$inuit-enable-margins--large:   false !default;
$inuit-enable-margins--none:    false !default;

$inuit-enable-paddings:         false !default;
$inuit-enable-paddings--small:  false !default;
$inuit-enable-paddings--large:  false !default;
$inuit-enable-paddings--none:   false !default;





/**
 * Margin helper classes.
 *
 * Add margins.
 */
@if ($inuit-enable-margins == true) {

    .#{$inuit-namespace}m       { margin:           $inuit-margin !important; }
    .#{$inuit-namespace}mt      { margin-top:       $inuit-margin !important; }
    .#{$inuit-namespace}mr      { margin-right:     $inuit-margin !important; }
    .#{$inuit-namespace}mb      { margin-bottom:    $inuit-margin !important; }
    .#{$inuit-namespace}ml      { margin-left:      $inuit-margin !important; }
    .#{$inuit-namespace}me      { margin-top:       $inuit-margin !important; margin-bottom:    $inuit-margin !important; }
    .#{$inuit-namespace}ms      { margin-right:     $inuit-margin !important; margin-left:      $inuit-margin !important; }

}


/**
 * Add small margins.
 */
@if ($inuit-enable-margins--small == true) {

    .#{$inuit-namespace}m-      { margin:           halve($inuit-margin) !important; }
    .#{$inuit-namespace}mt-     { margin-top:       halve($inuit-margin) !important; }
    .#{$inuit-namespace}mr-     { margin-right:     halve($inuit-margin) !important; }
    .#{$inuit-namespace}mb-     { margin-bottom:    halve($inuit-margin) !important; }
    .#{$inuit-namespace}ml-     { margin-left:      halve($inuit-margin) !important; }
    .#{$inuit-namespace}me-     { margin-top:       halve($inuit-margin) !important; margin-bottom:    halve($inuit-margin) !important; }
    .#{$inuit-namespace}ms-     { margin-right:     halve($inuit-margin) !important; margin-left:      halve($inuit-margin) !important; }

}


/**
 * Add large margins.
 */
@if ($inuit-enable-margins--large == true) {

    .#{$inuit-namespace}m\+     { margin:           double($inuit-margin) !important; }
    .#{$inuit-namespace}mt\+    { margin-top:       double($inuit-margin) !important; }
    .#{$inuit-namespace}mr\+    { margin-right:     double($inuit-margin) !important; }
    .#{$inuit-namespace}mb\+    { margin-bottom:    double($inuit-margin) !important; }
    .#{$inuit-namespace}ml\+    { margin-left:      double($inuit-margin) !important; }
    .#{$inuit-namespace}me\+    { margin-top:       double($inuit-margin) !important; margin-bottom:    double($inuit-margin) !important; }
    .#{$inuit-namespace}ms\+    { margin-right:     double($inuit-margin) !important; margin-left:      double($inuit-margin) !important; }

}


/**
 * Remove margins.
 */
@if ($inuit-enable-margins--none == true) {

    .#{$inuit-namespace}m0      { margin:           0 !important; }
    .#{$inuit-namespace}mt0     { margin-top:       0 !important; }
    .#{$inuit-namespace}mr0     { margin-right:     0 !important; }
    .#{$inuit-namespace}mb0     { margin-bottom:    0 !important; }
    .#{$inuit-namespace}ml0     { margin-left:      0 !important; }
    .#{$inuit-namespace}me0     { margin-top:       0 !important; margin-bottom:    0 !important; }
    .#{$inuit-namespace}ms0     { margin-right:     0 !important; margin-left:      0 !important; }

}





/**
 * Padding helper classes.
 *
 * Add paddings.
 */
@if ($inuit-enable-paddings == true) {

    .#{$inuit-namespace}p       { padding:          $inuit-padding !important; }
    .#{$inuit-namespace}pt      { padding-top:      $inuit-padding !important; }
    .#{$inuit-namespace}pr      { padding-right:    $inuit-padding !important; }
    .#{$inuit-namespace}pb      { padding-bottom:   $inuit-padding !important; }
    .#{$inuit-namespace}pl      { padding-left:     $inuit-padding !important; }
    .#{$inuit-namespace}pe      { padding-top:      $inuit-padding !important; padding-bottom:    $inuit-padding !important; }
    .#{$inuit-namespace}ps      { padding-right:    $inuit-padding !important; padding-left:      $inuit-padding !important; }

}


/**
 * Add small paddings.
 */
@if ($inuit-enable-paddings--small == true) {

    .#{$inuit-namespace}p-      { padding:           halve($inuit-padding) !important; }
    .#{$inuit-namespace}pt-     { padding-top:       halve($inuit-padding) !important; }
    .#{$inuit-namespace}pr-     { padding-right:     halve($inuit-padding) !important; }
    .#{$inuit-namespace}pb-     { padding-bottom:    halve($inuit-padding) !important; }
    .#{$inuit-namespace}pl-     { padding-left:      halve($inuit-padding) !important; }
    .#{$inuit-namespace}pe-     { padding-top:       halve($inuit-padding) !important; padding-bottom:    halve($inuit-padding) !important; }
    .#{$inuit-namespace}ps-     { padding-right:     halve($inuit-padding) !important; padding-left:      halve($inuit-padding) !important; }

}


/**
 * Add large paddings.
 */
@if ($inuit-enable-paddings--large == true) {

    .#{$inuit-namespace}p\+     { padding:           double($inuit-padding) !important; }
    .#{$inuit-namespace}pt\+    { padding-top:       double($inuit-padding) !important; }
    .#{$inuit-namespace}pr\+    { padding-right:     double($inuit-padding) !important; }
    .#{$inuit-namespace}pb\+    { padding-bottom:    double($inuit-padding) !important; }
    .#{$inuit-namespace}pl\+    { padding-left:      double($inuit-padding) !important; }
    .#{$inuit-namespace}pe\+    { padding-top:       double($inuit-padding) !important; padding-bottom:    double($inuit-padding) !important; }
    .#{$inuit-namespace}ps\+    { padding-right:     double($inuit-padding) !important; padding-left:      double($inuit-padding) !important; }

}

/**
 * Remove paddings.
 */
@if ($inuit-enable-paddings--none == true) {

    .#{$inuit-namespace}p0      { padding:          0 !important; }
    .#{$inuit-namespace}pt0     { padding-top:      0 !important; }
    .#{$inuit-namespace}pr0     { padding-right:    0 !important; }
    .#{$inuit-namespace}pb0     { padding-bottom:   0 !important; }
    .#{$inuit-namespace}pl0     { padding-left:     0 !important; }
    .#{$inuit-namespace}pe0     { padding-top:      0 !important; padding-bottom:    0 !important; }
    .#{$inuit-namespace}ps0     { padding-right:    0 !important; padding-left:      0 !important; }

}
