/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-margin:                          $inuit-base-spacing-unit !default;
$inuit-padding:                         $inuit-base-spacing-unit !default;

$inuit-enable-margins:                  false !default;
$inuit-enable-margins--tiny:            false !default;
$inuit-enable-margins--small:           false !default;
$inuit-enable-margins--large:           false !default;
$inuit-enable-margins--huge:            false !default;

$inuit-enable-margins--negative:        false !default;
$inuit-enable-margins--negative-tiny:   false !default;
$inuit-enable-margins--negative-small:  false !default;
$inuit-enable-margins--negative-large:  false !default;
$inuit-enable-margins--negative-huge:   false !default;

$inuit-enable-margins--none:            false !default;

$inuit-enable-paddings:                 false !default;
$inuit-enable-paddings--tiny:           false !default;
$inuit-enable-paddings--small:          false !default;
$inuit-enable-paddings--large:          false !default;
$inuit-enable-paddings--huge:           false !default;

$inuit-enable-paddings--none:           false !default;





@if ($inuit-enable-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    .#{$inuit-namespace}m       { margin:           $inuit-margin !important; }
    .#{$inuit-namespace}mt      { margin-top:       $inuit-margin !important; }
    .#{$inuit-namespace}mr      { margin-right:     $inuit-margin !important; }
    .#{$inuit-namespace}mb      { margin-bottom:    $inuit-margin !important; }
    .#{$inuit-namespace}ml      { margin-left:      $inuit-margin !important; }
    .#{$inuit-namespace}mh      { margin-right:     $inuit-margin !important; margin-left:      $inuit-margin !important; }
    .#{$inuit-namespace}mv      { margin-top:       $inuit-margin !important; margin-bottom:    $inuit-margin !important; }

}


@if ($inuit-enable-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    .#{$inuit-namespace}m--     { margin:           quarter($inuit-margin) !important; }
    .#{$inuit-namespace}mt--    { margin-top:       quarter($inuit-margin) !important; }
    .#{$inuit-namespace}mr--    { margin-right:     quarter($inuit-margin) !important; }
    .#{$inuit-namespace}mb--    { margin-bottom:    quarter($inuit-margin) !important; }
    .#{$inuit-namespace}ml--    { margin-left:      quarter($inuit-margin) !important; }
    .#{$inuit-namespace}mh--    { margin-right:     quarter($inuit-margin) !important; margin-left:     quarter($inuit-margin) !important; }
    .#{$inuit-namespace}mv--    { margin-top:       quarter($inuit-margin) !important; margin-bottom:   quarter($inuit-margin) !important; }

}


@if ($inuit-enable-margins--small == true) {

    /**
     * Add small margins.
     */

    .#{$inuit-namespace}m-      { margin:           halve($inuit-margin) !important; }
    .#{$inuit-namespace}mt-     { margin-top:       halve($inuit-margin) !important; }
    .#{$inuit-namespace}mr-     { margin-right:     halve($inuit-margin) !important; }
    .#{$inuit-namespace}mb-     { margin-bottom:    halve($inuit-margin) !important; }
    .#{$inuit-namespace}ml-     { margin-left:      halve($inuit-margin) !important; }
    .#{$inuit-namespace}mh-     { margin-right:     halve($inuit-margin) !important; margin-left:   halve($inuit-margin) !important; }
    .#{$inuit-namespace}mv-     { margin-top:       halve($inuit-margin) !important; margin-bottom: halve($inuit-margin) !important; }

}


@if ($inuit-enable-margins--large == true) {

    /**
     * Add large margins.
     */

    .#{$inuit-namespace}m\+     { margin:           double($inuit-margin) !important; }
    .#{$inuit-namespace}mt\+    { margin-top:       double($inuit-margin) !important; }
    .#{$inuit-namespace}mr\+    { margin-right:     double($inuit-margin) !important; }
    .#{$inuit-namespace}mb\+    { margin-bottom:    double($inuit-margin) !important; }
    .#{$inuit-namespace}ml\+    { margin-left:      double($inuit-margin) !important; }
    .#{$inuit-namespace}mh\+    { margin-right:     double($inuit-margin) !important; margin-left:      double($inuit-margin) !important; }
    .#{$inuit-namespace}mv\+    { margin-top:       double($inuit-margin) !important; margin-bottom:    double($inuit-margin) !important; }

}


@if ($inuit-enable-margins--huge == true) {

    /**
     * Add huge margins.
     */

    .#{$inuit-namespace}m\+\+   { margin:           quadruple($inuit-margin) !important; }
    .#{$inuit-namespace}mt\+\+  { margin-top:       quadruple($inuit-margin) !important; }
    .#{$inuit-namespace}mr\+\+  { margin-right:     quadruple($inuit-margin) !important; }
    .#{$inuit-namespace}mb\+\+  { margin-bottom:    quadruple($inuit-margin) !important; }
    .#{$inuit-namespace}ml\+\+  { margin-left:      quadruple($inuit-margin) !important; }
    .#{$inuit-namespace}mh\+\+  { margin-right:     quadruple($inuit-margin) !important; margin-left:   quadruple($inuit-margin) !important; }
    .#{$inuit-namespace}mv\+\+  { margin-top:       quadruple($inuit-margin) !important; margin-bottom: quadruple($inuit-margin) !important; }

}


@if ($inuit-enable-margins--none == true) {

    /**
     * Remove margins.
     */

    .#{$inuit-namespace}m0      { margin:           0 !important; }
    .#{$inuit-namespace}mt0     { margin-top:       0 !important; }
    .#{$inuit-namespace}mr0     { margin-right:     0 !important; }
    .#{$inuit-namespace}mb0     { margin-bottom:    0 !important; }
    .#{$inuit-namespace}ml0     { margin-left:      0 !important; }
    .#{$inuit-namespace}mh0     { margin-right:     0 !important; margin-left:      0 !important; }
    .#{$inuit-namespace}mv0     { margin-top:       0 !important; margin-bottom:    0 !important; }

}


@if ($inuit-enable-margins--negative == true) {

    /**
     * Negative margins.
     */

    .#{$inuit-namespace}-m      { margin:           -$inuit-margin !important; }
    .#{$inuit-namespace}-mt     { margin-top:       -$inuit-margin !important; }
    .#{$inuit-namespace}-mr     { margin-right:     -$inuit-margin !important; }
    .#{$inuit-namespace}-mb     { margin-bottom:    -$inuit-margin !important; }
    .#{$inuit-namespace}-ml     { margin-left:      -$inuit-margin !important; }
    .#{$inuit-namespace}-mh     { margin-right:     -$inuit-margin !important; margin-left:      -$inuit-margin !important; }
    .#{$inuit-namespace}-mv     { margin-top:       -$inuit-margin !important; margin-bottom:    -$inuit-margin !important; }

}


@if ($inuit-enable-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    .#{$inuit-namespace}-m--    { margin:           quarter(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mt--   { margin-top:       quarter(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mr--   { margin-right:     quarter(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mb--   { margin-bottom:    quarter(-$inuit-margin) !important; }
    .#{$inuit-namespace}-ml--   { margin-left:      quarter(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mh--   { margin-right:     quarter(-$inuit-margin) !important; margin-left:     quarter(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mv--   { margin-top:       quarter(-$inuit-margin) !important; margin-bottom:   quarter(-$inuit-margin) !important; }

}


@if ($inuit-enable-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    .#{$inuit-namespace}-m-     { margin:           halve(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mt-    { margin-top:       halve(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mr-    { margin-right:     halve(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mb-    { margin-bottom:    halve(-$inuit-margin) !important; }
    .#{$inuit-namespace}-ml-    { margin-left:      halve(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mh-    { margin-right:     halve(-$inuit-margin) !important; margin-left:   halve(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mv-    { margin-top:       halve(-$inuit-margin) !important; margin-bottom: halve(-$inuit-margin) !important; }

}


@if ($inuit-enable-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    .#{$inuit-namespace}-m\+    { margin:           double(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mt\+   { margin-top:       double(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mr\+   { margin-right:     double(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mb\+   { margin-bottom:    double(-$inuit-margin) !important; }
    .#{$inuit-namespace}-ml\+   { margin-left:      double(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mh\+   { margin-right:     double(-$inuit-margin) !important; margin-left:      double(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mv\+   { margin-top:       double(-$inuit-margin) !important; margin-bottom:    double(-$inuit-margin) !important; }

}


@if ($inuit-enable-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    .#{$inuit-namespace}-m\+\+  { margin:           quadruple(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mt\+\+ { margin-top:       quadruple(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mr\+\+ { margin-right:     quadruple(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mb\+\+ { margin-bottom:    quadruple(-$inuit-margin) !important; }
    .#{$inuit-namespace}-ml\+\+ { margin-left:      quadruple(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mh\+\+ { margin-right:     quadruple(-$inuit-margin) !important; margin-left:   quadruple(-$inuit-margin) !important; }
    .#{$inuit-namespace}-mv\+\+ { margin-top:       quadruple(-$inuit-margin) !important; margin-bottom: quadruple(-$inuit-margin) !important; }

}





@if ($inuit-enable-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    .#{$inuit-namespace}p       { padding:          $inuit-padding !important; }
    .#{$inuit-namespace}pt      { padding-top:      $inuit-padding !important; }
    .#{$inuit-namespace}pr      { padding-right:    $inuit-padding !important; }
    .#{$inuit-namespace}pb      { padding-bottom:   $inuit-padding !important; }
    .#{$inuit-namespace}pl      { padding-left:     $inuit-padding !important; }
    .#{$inuit-namespace}ph      { padding-right:    $inuit-padding !important; padding-left:    $inuit-padding !important; }
    .#{$inuit-namespace}pv      { padding-top:      $inuit-padding !important; padding-bottom:  $inuit-padding !important; }

}


@if ($inuit-enable-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    .#{$inuit-namespace}p--     { padding:           quarter($inuit-padding) !important; }
    .#{$inuit-namespace}pt--    { padding-top:       quarter($inuit-padding) !important; }
    .#{$inuit-namespace}pr--    { padding-right:     quarter($inuit-padding) !important; }
    .#{$inuit-namespace}pb--    { padding-bottom:    quarter($inuit-padding) !important; }
    .#{$inuit-namespace}pl--    { padding-left:      quarter($inuit-padding) !important; }
    .#{$inuit-namespace}ph--    { padding-right:     quarter($inuit-padding) !important; padding-left:      quarter($inuit-padding) !important; }
    .#{$inuit-namespace}pv--    { padding-top:       quarter($inuit-padding) !important; padding-bottom:    quarter($inuit-padding) !important; }

}


@if ($inuit-enable-paddings--small == true) {

    /**
     * Add small paddings.
     */

    .#{$inuit-namespace}p-      { padding:           halve($inuit-padding) !important; }
    .#{$inuit-namespace}pt-     { padding-top:       halve($inuit-padding) !important; }
    .#{$inuit-namespace}pr-     { padding-right:     halve($inuit-padding) !important; }
    .#{$inuit-namespace}pb-     { padding-bottom:    halve($inuit-padding) !important; }
    .#{$inuit-namespace}pl-     { padding-left:      halve($inuit-padding) !important; }
    .#{$inuit-namespace}ph-     { padding-right:     halve($inuit-padding) !important; padding-left:    halve($inuit-padding) !important; }
    .#{$inuit-namespace}pv-     { padding-top:       halve($inuit-padding) !important; padding-bottom:  halve($inuit-padding) !important; }

}


@if ($inuit-enable-paddings--large == true) {

    /**
     * Add large paddings.
     */

    .#{$inuit-namespace}p\+     { padding:           double($inuit-padding) !important; }
    .#{$inuit-namespace}pt\+    { padding-top:       double($inuit-padding) !important; }
    .#{$inuit-namespace}pr\+    { padding-right:     double($inuit-padding) !important; }
    .#{$inuit-namespace}pb\+    { padding-bottom:    double($inuit-padding) !important; }
    .#{$inuit-namespace}pl\+    { padding-left:      double($inuit-padding) !important; }
    .#{$inuit-namespace}ph\+    { padding-right:     double($inuit-padding) !important; padding-left:   double($inuit-padding) !important; }
    .#{$inuit-namespace}pv\+    { padding-top:       double($inuit-padding) !important; padding-bottom: double($inuit-padding) !important; }

}


@if ($inuit-enable-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    .#{$inuit-namespace}p\+\+   { padding:           quadruple($inuit-padding) !important; }
    .#{$inuit-namespace}pt\+\+  { padding-top:       quadruple($inuit-padding) !important; }
    .#{$inuit-namespace}pr\+\+  { padding-right:     quadruple($inuit-padding) !important; }
    .#{$inuit-namespace}pb\+\+  { padding-bottom:    quadruple($inuit-padding) !important; }
    .#{$inuit-namespace}pl\+\+  { padding-left:      quadruple($inuit-padding) !important; }
    .#{$inuit-namespace}ph\+\+  { padding-right:     quadruple($inuit-padding) !important; padding-left:    quadruple($inuit-padding) !important; }
    .#{$inuit-namespace}pv\+\+  { padding-top:       quadruple($inuit-padding) !important; padding-bottom:  quadruple($inuit-padding) !important; }

}


@if ($inuit-enable-paddings--none == true) {

    /**
     * Remove paddings.
     */

    .#{$inuit-namespace}p0      { padding:          0 !important; }
    .#{$inuit-namespace}pt0     { padding-top:      0 !important; }
    .#{$inuit-namespace}pr0     { padding-right:    0 !important; }
    .#{$inuit-namespace}pb0     { padding-bottom:   0 !important; }
    .#{$inuit-namespace}pl0     { padding-left:     0 !important; }
    .#{$inuit-namespace}ph0     { padding-right:    0 !important; padding-left:     0 !important; }
    .#{$inuit-namespace}pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

}
